<header>
  <header class="app-header">
    <mat-toolbar>
      <div class="logo">
        <a href="https://ferkz.github.io/luisfernandomonteiro/">
        <img src="../../../assets/img/logo.png" width="60px" alt="logo coding sales">
      </a>
              <span class="logo-name">Coding Sales</span>
      </div>
      <li class="burger" (click)="toggleMenu()">
        <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
      </li>
      <span class="spacer"></span>
      <div class="menu" [class.is-open]="isMenuOpen">
        <button mat-raised-button routerLink="/" class="menu-item"><mat-icon>home</mat-icon>Inicio</button>
        <button mat-raised-button class="menu-item" (click)="openDialog()"><mat-icon>settings</mat-icon>Parâmetros</button>
        <button mat-raised-button routerLink="/lista-diarias" class="menu-item"><mat-icon>account_circle</mat-icon>Díarias</button>
        <button mat-raised-button class="menu-item"><mat-icon>logout</mat-icon>Sair</button>
      </div>
      </mat-toolbar>
  </header>
</header>
